<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Delete Item</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{css/styles.css}">
</head>
<body>
<a href="/cart"><button>Back to Cart</button></a>
<form method="post" th:action="@{/update_items}">
  <table>
    <thead>
    <tr>
      <th>Item</th>
      <th>Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${items}">
      <!--        First column should be the key-->
      <td>
        <input type="text" th:name="${entry.key}" th:value="${entry.key}"/>
      </td>
      <td>
        <input type="text" th:name="${entry.key + '_cost'}" th:value="${entry.value}"/>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="submit">Submit Updates</button>
</form>
</body>
</html>